In [1]:
a = "Life is ~~~"

In [2]:
a1 = a[0:4]

In [3]:
a2 = a[0:5]

In [7]:
if a1 == a2:
    print("같다")
else:
    print("다르다")

다르다

In [10]:
print(a1, len(a1))
print(a2, len(a2))

Life 4
Life  5

In [11]:
words1 = "딸기, 바나나, 수박"

In [27]:
# find 함수 사용법
# words.find('나')+2 는 2번째 '나'를 찾겠다는 의미인듯.

indexOfBanana = words1.find('바')
lastWordsBanana = words1.find('나')+2
lastWordsBanana1 = words1.find('나')+len('바나나')-1
bananaFromWords1 = words1[indexOfBanana:lastWordsBanana1]
print(bananaFromWords1)

바나나

In [13]:
wmFromWords1 = words1[9:]
print(wmFromWords1)

수박

In [14]:
sbFromWords1 = words1[:2]
print(sbFromWords1)

딸기

In [33]:
words2 = "카프레제, 토마토"
indexOfTomato = words2.find('토')
lastWordsTomato = words2.find('토')+len('토마토')
birdFromWords2 = words2[indexOfTomato:lastWordsTomato]
print(birdFromWords2)

토마토

In [37]:
a = 'Pithon'

In [38]:
a[1]

'i'

In [39]:
a[1] = 'y'    # 에러가 남.(못바꿈.)

TypeError: 'str' object does not support item assignment

In [41]:
a2 = a[:1]+"y"+a[2:]      # 이렇게 새로 지정해 주어야 함.(replace가 안 됨.)

Python

In [43]:
a = a2            # 실제 쓸 때는 이렇게 a2를 다시 a로 지정해 주는게 깔끔하다.
print(a)

Python

In [2]:
name1 = "서호준"; major1 = "IT"; howManyPhone1 = 2
name2 = "김한남"; major2 = "BT"; howManyPhone2 = 3

# tab은 데이터 형식을 표에 가깝게 만들어 준다고 생각하면 됨. ('\t')
# "%12s" => 12개의 str자리에 str(howManyPhone1)이 들어오는 것.

print("name"+ "\t"+ "major" + "\t" + "howManyPhone")
print(name1 + "\t" + major1 + "\t" + "%12s" % str(howManyPhone1))
print(name2 + "\t" + major2 + "\t" + "%12s" % str(howManyPhone2))

name	major	howManyPhone
서호준	IT	           2
김한남	BT	           3

In [11]:
print("%s" % "120")     # % 가 의미하는 것은 뒤에 있는 걸 앞으로 끌어오는 것. 그래서 "%s"는 문자열을 의미하므로 문자열 자리에 120이라는 str이 들어옴.
print("%s" "120")
print("%10s" % "120")   # %s 사이에 10을 넣으니까, 7칸의 공백이 생김. (120까지 포함하여 총 10칸 차지.)
print("%10s" % "1200000000")

120
%s120
       120
1200000000

In [15]:
print("%-10s" % "120")
print("%-10s" % "1200000000")     # 이 경우 왼쪽 정렬. (7칸의 공백이 뒤에 생김.)

120
1200000000

In [16]:
print("%0.2f" % 120)      # 소수점 아래 자리수 지정.(유효자리수.)
print("%0.2f" % 120000)

120.00
120000.00

In [17]:
"~~~~{0}~~~~~~~~~{1}~~~~~~~~~~~~~~~{0}".format("호준",2)  # 문자열 길이 맞추고 싶을 때(?)

'~~~~호준~~~~~~~~~2~~~~~~~~~~~~~~~호준'

In [19]:
"~~~~~~{name}~~~~{howMany}~~~~{howMany}~~~".format(name = "호준", howMany = 2)

'~~~~~~호준~~~~2~~~~2~~~'

In [22]:
"{0:<10}".format("120")    # 왼쪽 정렬

'120       '

In [23]:
"{0:>10}".format("120")    # 오른쪽 정렬

'       120'

In [24]:
"{0:^10}".format("120")    # 가운데 정렬

'   120    '

In [25]:
"{0:_>10}".format("120")

'_______120'

In [5]:
name = "선호"
age = 60
"나의 이름은 {0}입니다. 나이는 {1}살 까지 살고 싶어요.".format(name, age)

'나의 이름은 선호입니다. 나이는 60살 까지 살고 싶어요.'

In [6]:
f"나의 이름은 {name}입니다. 나이는 {age}살 까지 살고 싶어요."

'나의 이름은 선호입니다. 나이는 60살 까지 살고 싶어요.'

In [7]:
f"안녕하세요 {name}님, 오늘은 {age}일째 학습일입니다!"

'안녕하세요 선호님, 오늘은 60일째 학습일입니다!'

In [2]:
len("바나나")

3

In [3]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는\
같은 무게를 사도 껍질로 다 버려져요.".count("나")

6

In [4]:
"""내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는
같은 무게를 사도 껍질로 다 버려져요.""".count("바나나")

3

In [6]:
# find 사용하는 이유 - index 했는데, 찾는 문자열이 없으면 프로그램이 뻗어버린다고 한다.

In [7]:
",".join("abcd")

'a,b,c,d'

In [8]:
",".join(["abc", "def","ghi"])

'abc,def,ghi'

In [9]:
# 숫자만으로 저장된 전화 번호를 DB에서 얻었다 010 1234 5678 이 번호를 -로 연결하자.
# 010-1234-5678

"-".join(["010","1234","5678"])


phone_num = "01012345678"


"-".join([])

'010-1234-5678'

In [17]:
phone_num = "01012345678"
first_num = "010"
mid_num = phone_num[3:7]
last_num = phone_num[7:]
"-".join(["010", mid_num, last_num])
"-".join([first_num, mid_num, last_num])   # 모두 다 변수로 바꾸어 주더라도 여러 개가 들어가려면 반드시 리스트 형태로 들어가야 한다!~!

'010-1234-5678'

In [19]:
a = "I love apple. because apple is so sweet."
b = a.replace("apple", "chocolate")
print(b)

I love chocolate. because chocolate is so sweet.

In [2]:
# '010-1234-5678'   -> '01040495394'
a = '010-1234-5678'
b = a.replace("-", "")
print(b)

01012345678

In [11]:
a = '010-1234-5678'
b = a.split('-')
print(b)
print("식별번호:", b[0], "국번:", b[1], "개인번호:", b[2])

['010', '1234', '5678']
식별번호: 010 국번: 1234 개인번호: 5678

In [19]:
a = '010-1234-5678'
b = a.split('-')
unlist(b)
first_num = b[0]
mid_num = b[1]
last_num = b[2]
"-".join(first_num, mid_num, last_num)   # 왜!! 안되는거지?

NameError: name 'unlist' is not defined

In [8]:
a = []    # 빈 리스트를 만드는 이유 => 일단 만들어 놓고 계속 추가하면서 사용하려고.
print(a)
e = [1, 2, [3, 4]]
print(e)
print(len(e))      # 3개가 나옴.
print(e[0])
print(e[2])
print(e[-1])        # 뒤에서부터 세어서 불러올 수도 있다. e[2] 와 e[-1] 이 두 가지는 같은 것.
print(e[2][1])     # [3, 4] 리스트에서 1번(0, 1) 데이터를 뽑아 낸 것.

[]
[1, 2, [3, 4]]
3
1
[3, 4]
[3, 4]
4

In [10]:
# 리스트 더하기 =>  그냥 합집합이라고 생각하면 됨. R처럼 행렬연산(매트릭스 연산)하는 것 아님.
# list.a[1, 2, 3] + list.b[4, 5, 6] => +는 concatenate임. 따라서 [1, 2, 3, 4, 5, 6]과 같은 답이 나온다.

[2, 3]

In [12]:
str1 = "abc"
print(str1[2])
# str1[2] = "d"   # 문자열의 경우 오류가 남.
a = [1, 2, 3]
a[2] = 4
print(a)  # 숫자의 경우에는 인덱싱으로도 붙일 수 있다.

c
[1, 2, 4]

In [18]:
# sort 와 sorted
a = [1,4,3,2]
# a.sort()               # sort를 돌리면 원본 데이터 다시 쓰려면 데이터 다시 불러와야 함. 이 문제를 해결해야 함.
print(a)

# 해결 방법 1
a2 = a[:]         # 만약 a2 = a 로 했다면 그냥 두 개를 동일시 하는 것임. 따라서 a[:]로 주어야 복사됨.
a2.sort()         # 복사본 a2를 만든 다음 a2를 활용해서 sort.
print(a2)

# 해결 방법 2
a2 = sorted(a)
print(a)
print(a2)

[1, 4, 3, 2]
[1, 2, 3, 4]
[1, 4, 3, 2]
[1, 2, 3, 4]

In [24]:
a = [1, 4, 3, 2]
# a.sort(reverse = True)
a2 = sorted(a, reverse = True)
print(a2)
print(a)

[4, 3, 2, 1]
[1, 4, 3, 2]

In [26]:
a = [1, 2, 3]
a.pop()

3

In [27]:
a    # pop하고 났더니 3이 사라짐.

[1, 2]

In [28]:
a = [1, 2, 3]
a.pop(1)   # n번째 데이터가 튀어나옴.

2

In [30]:
a1 = [1, 2]; a2 = [3, 4]
new1 = a1+a2 ; print(new1)   # 두 리스트를 합친다.
a1.extend(a2) ; print(a1)    # a1을 기준으로 () 안의 객체가 확장된다.

[1, 2, 3, 4]
[1, 2, 3, 4]

In [31]:
my_dic1 = {}

In [32]:
my_dic1["banana"] = "노랗고 달콤한 과일"

In [33]:
my_dic1["strawberry"] = "새콤 달콤 빨간 과일"

In [34]:
my_dic1

{'banana': '노랗고 달콤한 과일', 'strawberry': '새콤 달콤 빨간 과일'}

In [36]:
# del my_dic1[0]   # 에러가 남.
del my_dic1["banana"]   # 이렇게 해야 지워짐.

In [37]:
my_dic1     # dictionary 는 순서가 없음. 따라서 [] 순서 인덱스로 불러오면 안 됨.

{'strawberry': '새콤 달콤 빨간 과일'}

In [38]:
my_dic1["banana"] = '노랗고 달콤한 과일'

In [39]:
my_dic1.keys()      # dictioanry 목록의 key만 출력해 줌.

dict_keys(['strawberry', 'banana'])

In [40]:
# 딕셔너리 주의사항 => 하나의 키에 2개의 다른 값을 넣으면, 먼저 넣은 값은 무시되고 최신에 넣은 값만 유지된다. (중복 허용하지 않음.)

In [41]:
# if, for, while문 등은 ":"을 반드시 적어 줌.
if 3>1:
    print("참")
if 4<10:
    print("참")        #파이썬의 단점 중 하나는, 들여쓰기가 자동으로 안 됨.(문이 끝나면 들여쓰기 직접 지워줘야 함.)
                       # 논리의 종속관계가 들여쓰기로 구분되므로 들여쓰기 잘 관리해 주어야 함.(들여쓰기 잘못 쓰면 로직이 바뀜.)

참
참

In [42]:
if 3<1:
    print("참")
else:                         # else에도 ":"콜론 붙여 줘야 하는 것 까먹지 말기!!
    print("거짓")

거짓

In [43]:
a = 1
b = 2
if a == b:
    print("두 수가 같다.")
else:
    print("둘은 같지 않다.")

둘은 같지 않다.

In [45]:
1 in [1, 2, 3]

True

In [46]:
1 not in [1, 2, 3]

False