In [1]:
1+3

4

In [2]:
print(1+3)

4

In [3]:
a=1

In [4]:
b=5

In [5]:
c=a+b

In [6]:
print(c)

6

In [7]:
a = 1
b = 2
c = a + b
print(c)

3

In [9]:
3.4e3

3400.0

In [10]:
3.4e-3

0.0034

In [11]:
3**2

9

In [12]:
# 재고 5
# 3개마다 1박스 구성 가능
# 출하 가능 박수 개수
# 남은 박스 개수

In [13]:
st = 5

In [16]:
st // 3
# 출하 가능 박스 개수

1

In [18]:
st % 3
# 남은 박스 개수

2

In [28]:
stock_current = 5
package_size = 3
box_available = stock_current // package_size
stock_current = stock_current % package_size
print("출하 가능 박스:\t" + str(box_available) + "개")    # \t => tab (역슬래시t) tab은 데이터를 표로 만들어 주는 것.
print("출하 후 재고:\t" + str(stock_current) + "개")

출하 가능 박스:	1개
출하 후 재고:	2개

In [29]:
print('사과')
print("사과")
print("""사과""")
print('''사과''')

사과
사과
사과
사과

In [36]:
# He said that, "I am so happy."
print('he said that, "I am so happy".')

he said that, "I am so happy".

In [37]:
# I am can be written as I'm

print("I am can be written as i'm")

I am can be written as i'm

In [38]:
print("""best""")

best

In [39]:
print("""best
music
award""")

best
music
award

In [40]:
print("best
      music
      award")          # 일반 따옴표 표현으로는 여러 줄을 커버할 수 없음. 따옴표 세개여야 함.

SyntaxError: EOL while scanning string literal (<ipython-input-40-5ba5e8176153>, line 1)

In [42]:
print("""
이 과정은 전문 8대 혁신성장 산업분야의 프로젝트 중심 소프트웨어교육을 실시하고, 4차 산업혁명시대 핵심인재를 양성해 산업체 인력난 해소, 청년 실업문제를 해결하기 위한 정부 핵심 사업으로 졸업예정자 및 청년 구직자를 대상으로 빅데이터 전문교육으로 데이터구조의 이해R, 파이선, 머신러닝, 인공지능 기반 딥러닝까지 학습하여 단계적으로 지역기업 프로젝트와 연계하여 빅데이터 분석 및 경영·마케팅전략 등 데이터를 기반으로 한 빅데이터 컨설팅 및 마케팅 의사결정 역량을 향상시키는데 목적을 두고 지난 5월 11일부터 총 960시간의 프로그램으로 진행됐다.

빅데이터 현직 개발자를 강사진으로 구성해 3개월 프로젝트 기반의 빅데이터 교육 후, 3개월 동안 지역의 빅데이터 전문기업인 ㈜아이와즈, ㈜바론시스템, 지엔소프트㈜, ㈜소프트식스, ㈜유펜솔류션과 공공기관인 한국과학기술정보연구원, 한국지질자원연구원, 한국한생명공학연구원, 을지대학교병원과 협약을 체결했고, 지역의 빅데이터 전문가 양상을 위한 프로젝트 기반 현장실무교육을 진행해 48명의 빅데이터 전문 인력을 배출하게 됐다.""")

이 과정은 전문 8대 혁신성장 산업분야의 프로젝트 중심 소프트웨어교육을 실시하고, 4차 산업혁명시대 핵심인재를 양성해 산업체 인력난 해소, 청년 실업문제를 해결하기 위한 정부 핵심 사업으로 졸업예정자 및 청년 구직자를 대상으로 빅데이터 전문교육으로 데이터구조의 이해R, 파이선, 머신러닝, 인공지능 기반 딥러닝까지 학습하여 단계적으로 지역기업 프로젝트와 연계하여 빅데이터 분석 및 경영·마케팅전략 등 데이터를 기반으로 한 빅데이터 컨설팅 및 마케팅 의사결정 역량을 향상시키는데 목적을 두고 지난 5월 11일부터 총 960시간의 프로그램으로 진행됐다.

빅데이터 현직 개발자를 강사진으로 구성해 3개월 프로젝트 기반의 빅데이터 교육 후, 3개월 동안 지역의 빅데이터 전문기업인 ㈜아이와즈, ㈜바론시스템, 지엔소프트㈜, ㈜소프트식스, ㈜유펜솔류션과 공공기관인 한국과학기술정보연구원, 한국지질자원연구원, 한국한생명공학연구원, 을지대학교병원과 협약을 체결했고, 지역의 빅데이터 전문가 양상을 위한 프로젝트 기반 현장실무교육을 진행해 48명의 빅데이터 전문 인력을 배출하게 됐다.

In [3]:
print("best\nmusic\naward")      # 따옴표 세 개를 쓰기 싫다고 하면 이렇게 쓸 수도 있다.(\n 줄바꿈 이스케이프 코드 중간중간 넣어 주기.)
print("best\
music\
award")                          # 얘는 코드로는 따로 나뉘어져 있는 줄을 한줄로 묶어 주는 것. (\n 말고 그냥 \(역슬래시)만.)

best
music
award
bestmusicaward

In [45]:
print("a\b\c\")

SyntaxError: EOL while scanning string literal (<ipython-input-45-c29cd57152a5>, line 1)

In [46]:
print("a\\b\\c\\")     # 문자 그대로 역슬래시를 사용하고 싶다면 이런 식으로 사용해야 한다.

a\b\c\

In [47]:
print('girl's generation')

SyntaxError: invalid syntax (<ipython-input-47-309105bc2ef2>, line 1)

In [49]:
print("girl's generation")

girl's generation

In [51]:
print('girl\'s generation')    # 역슬래시 활용해서 따옴표 사용 피할 수도 있음!

girl's generation

In [52]:
# 지금까지 다양한 문자열 싸는 법 배웠음!("",'',"""""", '''''', "''", '""', '\'', "\"", "\n")

In [3]:
greeting = "안녕하세요, "
beverb = "입니다. "
name = "박소연"
sentence1 = greeting + name + beverb               # 이렇게 미리 변수 만들어 지정하고 print하는 방법도 있군!
print(sentence1)
print(greeting, name, beverb)                     # 변수를 ,로 연결해 여러 변수 한 문장에 출력 가능.
print("안녕하세요", "박소연", "입니다")           # ,로 연결해서 볼 경우 기본 sep은 공백 한칸인가 보군.
a = 1
b = 2
c = 3
print(a, b, c)                                    # int도 다 ,로 엮어서 프린트 가능

안녕하세요, 박소연입니다.
안녕하세요,  박소연 입니다.
안녕하세요 박소연 입니다
1 2 3

In [3]:
a = "기러"
a * 100

'기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러기러'

In [8]:
friendly = 6
expression1 = " 정말"
greeting2 = "님 만나서"
greeting3 = " 반갑습니다."
sentence1 = greeting + name + greeting2\
             +expression1*friendly+greeting3
print(sentence1)

안녕하세요, 박소연님 만나서 정말 정말 정말 정말 정말 정말 반갑습니다.

In [9]:
# 컴퓨터가 볼 때는 빈칸도 글자이다. (글자수를 count 할 때.)

In [1]:
first_name = "용녀"
second_name = "선우"
if len(first_name) > 3:
    print("이름 길이 초과 탐색")
    first_over_count+=1
if len(second_name) > 1:
    print("성 길이 초과 탐색")
    second_over_count+=1
print ("first_over_count:"+str(first_over_count))
print ("second_over_count:"+str(second_over_count))

성 길이 초과 탐색

NameError: name 'second_over_count' is not defined

In [17]:
first_over_count = 0                 # 이렇게 초기값을 주어야 에러가 나지 않는다!
second_over_count = 0

first_name = "용녀"
second_name = "선우"
if len(first_name) > 3 :
    print("이름 길이 초과 탐색")
    first_over_count += 1
if len(second_name) > 1 :
    print("성 길이 초과 탐색")
    second_over_count += 1
print("first_over_count:"+str(first_over_count))
print("second_over_count:"+str(second_over_count))

성 길이 초과 탐색
first_over_count:0
second_over_count:1

In [15]:
first_over_count = 0
second_over_count = 0

In [16]:
first_name = "용녀"
second_name = "선우"
if len(first_name) > 3 :
    print("이름 길이 초과 탐색")
    first_over_count+=1
if len(second_name) > 1 :
    print("성 길이 초과 탐색")
    second_over_count+=1
print("first_over_count:"+str(first_over_count))
print("second_over_count:"+str(second_over_count))

성 길이 초과 탐색
first_over_count:0
second_over_count:1